@page "/authors/overviewquickgrid"


<QuickGrid Items="@FilteredAuthors" Pagination="@_pagination">
    <TemplateColumn Title="Photo">
        <DataImageUri ImageMimeType="@context.PhotoMimeType" Image="@context.Photo" width="120"></DataImageUri>
    </TemplateColumn>
    <PropertyColumn Property="@(p => p.Name)" Sortable="true" InitialSortDirection="SortDirection.Ascending" IsDefaultSortColumn="true">
        <ColumnOptions>
            <div class="search-box">
                <input type="search" autofocus @bind="_nameFilter" @bind:event="oninput" placeholder="Author name..."/>
            </div>
        </ColumnOptions>
    </PropertyColumn>
    <PropertyColumn Property="@(p => p.Description)" Sortable="true"/>
    <PropertyColumn Property="@(p => p.BirthDate)" Format="dd.MM.yyyy" Sortable="true"/>
    <TemplateColumn Title="Actions">
        <a href="@($"authors/edit/{context.Id}")" class="btn btn-warning"><i class="bi bi-pencil-fill"></i></a> |
        <a href="@($"authors/details/{context.Id}")" class="btn btn-info"><i class="bi bi-info-circle-fill"></i></a> |
        <button @onclick="@(() => DeleteAuthor(context.Id))" class="btn btn-danger"><i class="bi bi-trash"></i></button>
    </TemplateColumn>
</QuickGrid>

<Paginator State="@_pagination" />
